/* 
    Document   : style
    Created on : May 17, 2013, 1:35:51 PM
    Author     : HTV
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    width: 98%;
    margin: 10px;
    background-color: 	#feac02;/*#ff6e02;*/
    background-repeat: repeat;
    /*background-repeat: repeat-y;
    background-image: url("http://localhost/restaurant/public/img/bg.jpg");*/
}
img {
    border-image: none;
}
/*==========REGISTER HOMEPAGE==========*/
#registerModal {
    width: 400px; /* SET THE WIDTH OF THE MODAL */
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;
    /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}
#registerModal .modal-body {
    width: 400px;
}
#registerModal .modal-header {
    background-color: #feac02;
    border-radius: 8px 8px 0px 0px;
}
#registerModal h3 {
    color: white;
}
#registerModal .modified {
    color: red;
    text-align: center;
}
/*==========LOGIN HOMEPAGE==========*/
#loginModal {
    width: 400px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;    
}
#loginModal img {
    border: none;
}
#loginModal .modal-body {
    width: 400px;
    text-align: center;
}
#loginModal .modal-header {
    background-color: #feac02;
    border-radius: 8px 8px 0px 0px;    
}
#loginModal h3 {
    color: white;

}
#loginModal .modified {
    color: red;
    text-align: center;
}
#slideinfo {
    width: 930px;
    background-color: transparent;
}